In [10]:
# Imports
import pandas as pd

In [11]:
concentrations = pd.read_csv("./algae.csv")

In [12]:
concentrations.head()

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886

In [14]:
mean_concentrations = concentrations.groupby(["genus"]).aggregate({
    "sucrose" : "mean",
    "alanin" : "mean",
    "citrate" : "mean",
    "glucose" : "mean",
    "oleic_acid" : "mean",
})

mean_concentrations

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252

In [21]:
concentrations.groupby(["genus"]).aggregate({"alanin": "min"})
concentrations.groupby(["genus"]).aggregate({"alanin": "mean"})
concentrations.groupby(["genus"]).aggregate({"alanin": "max"})

               alanin
genus
Ascophyllum  0.875429
Cladophora   6.881024
Fucus        6.641303
Palmaria     3.176440
Saccharina   5.793163

In [25]:
concentrations.groupby(["group"]).size()

group
brown    6
green    3
red      1
dtype: int64