In [1]:
# Imports
import pandas as pd

In [2]:
students_performance = pd.read_csv("./../StudentsPerformance.csv")

In [3]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
free_mean_math = students_performance[students_performance.lunch == "free/reduced"]["math score"].mean()
free_var_math  = students_performance[students_performance.lunch == "free/reduced"]["math score"].var()
free_mean_reading = students_performance[students_performance.lunch == "free/reduced"]["reading score"].mean()
free_var_reading  = students_performance[students_performance.lunch == "free/reduced"]["reading score"].var()
free_mean_writing = students_performance[students_performance.lunch == "free/reduced"]["writing score"].mean()
free_var_writing  = students_performance[students_performance.lunch == "free/reduced"]["writing score"].var()

standard_mean_math = students_performance[students_performance.lunch == "standard"]["math score"].mean()
standard_var_math  = students_performance[students_performance.lunch == "standard"]["math score"].var()
standard_mean_reading = students_performance[students_performance.lunch == "standard"]["reading score"].mean()
standard_var_reading  = students_performance[students_performance.lunch == "standard"]["reading score"].var()
standard_mean_writing = students_performance[students_performance.lunch == "standard"]["writing score"].mean()
standard_var_writing  = students_performance[students_performance.lunch == "standard"]["writing score"].var()

print(f"Free: Math score - mean = {free_mean_math}, var = {free_var_math}. Reading score - mean = {free_mean_reading}, var = {free_var_reading}. Writing score - mean = {free_mean_writing}, var = {free_var_writing}.")
print(f"Standard: Math score - mean = {standard_mean_math}, var = {standard_var_math}. Reading score - mean = {standard_mean_reading}, var = {standard_var_reading}. Writing score - mean = {standard_mean_writing}, var = {standard_var_writing}.")

Free: Math score - mean = 58.92112676056338, var = 229.82426991326489. Reading score - mean = 64.65352112676057, var = 221.87113869658629. Writing score - mean = 63.02253521126761, var = 238.20288056019737.
Standard: Math score - mean = 70.03410852713178, var = 186.41808946025327. Reading score - mean = 71.65426356589147, var = 191.28556020992824. Writing score - mean = 70.8232558139535, var = 205.62088689874338.